*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: #1f2937; 
    color: white;
}

footer{
    display: flex;
    height: 70px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.Top{
    padding: 32px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: flex-start;
}

ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-shrink: 0;
}

header a{
    text-decoration: none;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
    padding-left: 24px;
}

header a:hover{
    color: #3882f6;
}

header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    flex-shrink: 0;
    padding-right: 16px;
}

header p{
    font-size: 18px;
    color: #e5e7eb;

}

.placeholder{
    background-color: gray;
    color: white;
    padding: 50px;
    margin-left: 50px;
    
}

header .info{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    width: 100%;
}

.info p{
    max-width: 600px;
    flex-shrink: 0;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 0 20px;
    text-align: center;
}

button{
    padding: 16px;
    border-color: #3882f6;
    border-radius: 10%;
}

.button-2{
    border-color: #fff;
}

button, .CTA{
    background-color: #3882f6;
    color:#fff;
}

.quote{
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    padding: 50px 200px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.Thor{
    text-align: end;
    font-weight: bold;
}

.CTA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin: 0px 64px;
    font-weight: 500;
    border-radius: 10px;
}

.CTA-line{
    padding-right: 16px;
}

section .container{
    display: flex;
    height: 200px;
    margin-top: 20px;
    justify-content: space-around;
}

section p{
    max-width: 100px;
}

.box{
    width: 100px;
    height: 100px;
    border: 4px solid blue;
    border-radius: 10%;
}
